:root{
    --bg-color: #2E0918;
    --lighter-bg-color: #4F1029;
    --pink: #F6AEAC;
    --pink2: #E3008C;
    --protest-strike: 'Protest Strike', sans-serif;
    --qwigley: 'Qwigley', cursive;
    --poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
}

a, button {
    cursor: pointer;
}

/*====================Main====================*/

main {
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
    border-radius: 100;
    margin: 0 6em 0 6em;
    height: 100%;
    max-height: 30em;
}

/* .hero-photo {
    background-color: red;
} */

.hero-photo {
  position: relative;
  display: inline-block;
}

.hero-photo img {
    height: 100%;
    border-radius: 0 0 0 100px;
    display: block;
}

.img-quote {
    position: absolute;
    bottom: 55px;
    left: 16px;

    max-width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.3rem 0.6rem;
    color: white;

    font-family: var(--poppins);
    font-size: 1vw;
    line-height: 1.3;

    border-radius: 10px;
}

.hero-text-buttons {
    /* margin-left: 5rem; */
    max-width: 30rem;
}

.hero-text {
    /* background-color: blue; */
    color: white;
}

.hero-text h1, h2 {
    font-family: var(--poppins);
    font-size: clamp(2rem, 3vw, 3.5rem); 
    /* min, ideal, max */
    /* background-color: yellow; */
}

.highlight-name {
    color: var(--pink2);
    text-decoration: underline;
}

.hero-text p {
    font-family: var(--protest-strike);
    margin-top: 0.3rem;
    font-size: 1rem; 
    /* background-color: aqua; */
}

.hero-text p a {
    color: var(--pink);
}

/* buttons */

.hero-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    /* background-color: yellow; */
}

.hero-buttons a {
    color: white;
    text-decoration: none;
    background-color: var(--bg-color);
    border-color: white;
    font-family: var(--poppins);
    border: 2px solid #fff;

    padding: 0.4rem 4rem;
    border-radius: 6px;
}

.hero-buttons button {
    color: white;
    background-color: var(--pink2);
    border: 2px solid #fff;
    font-family: var(--poppins);

    padding: 0.4rem 3rem;
    border-radius: 6px;
}

/*====================FOOTER====================*/

footer {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 4em;
    /* background-color: green; */
}

footer ul li {
    list-style: none;
    margin-top: 0.7rem;
}

footer ul li a {
    color: var(--pink2);
}

footer ul li a i {
    font-size: 1.4rem;
}